<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>e-puzzle</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/home/380_ico.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head><!--/head-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83184181-1', 'auto');
  ga('send', 'pageview');

</script>

<body>
	<header id="header"><!--header-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="logo" style="text-align: center;">
							<a href="/"><img src="{% static 'images/home/380.png' %}" alt="" style="    position: absolute; top: -15px;"/> <span style="color: #FE980F; font-size: 50px;padding-left: 120px;">E</span> <span style="color: #666; font-size: 50px;">-PUZZLE</span> </a>
						</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				    <h1 style="text-align:center">Políticas de cambio en Pick & Shine</h1>
    <hr>
    <br>
    	<div class="col-md-12 mens_right">
    	<p>Si no quedas conforme con tu compra, Pick & Shine te entrega el beneficio de devolver tu producto. El plazo para hacer efectivo este beneficio es de: 30 días</p>
    	<br>
    	<p>Si quieres cambiar tu producto, tienes 90 días para hacerlo con tu boleta, ticket de cambio o cualquier documento que acredite la compra en cualquiera de nuestras tiendas o mediante correo electrónico. Para cambios y devoluciones, el producto debe encontrarse nuevo, sin uso, en perfectas condiciones, en su embalaje original, con todos sus componentes, accesorios, manuales y etiquetas.</p>
    	<br>
    	<p>En caso que un cliente solicite el retiro de un producto por arrepentimiento de la compra, los gastos de retiro serán por cuenta del cliente y no se devolverán los gastos del despacho original.</p>
    	<br>
    	<p>Recuerda llamarnos al +945013722 para coordinar el retiro de tu producto o dirígete a nuestras tiendas para hacer uso de este beneficio.</p>
    	<br>
    	<p><h2 style="color:#d30061">¿Qué documentos se necesitan para realizar el cambio y/o devolución?</h2></p>
    	<br>
    	<p>Para el cambio te sugerimos traer la boleta, guía de despacho o cualquier documento que acredite la compra. Si pierdes la boleta, no te preocupes, puedes acercarte a Servicio al Cliente de nuestras tiendas y con el RUT del comprador acreditar tu compra.</p>
    	<br>
    	<p><h2 style="color:#d30061">Siempre recuerda que:</h2></p>
    	<br>
    	<p>Para una devolución necesitas traer la boleta o factura original</p>
    	<br>
    	<p>Para el caso de productos asociados a una promoción (combos, 2x1,etc) se requiere la entrega de todos los productos que ésta incluye, sin perjuicio que el cambio o devolución se realice sólo para uno de ellos.</p>
    	<br>
    	<p>Al recibir tu calzado, pruébalos en casa para que confirmes que son la talla correcta. Recuerda hacerlo sobre una superficie lisa con el fin de prevenir marcas de uso en caso que desees realizar algún cambio.</p>
    	<br>
    	<p><h2 style="color:#d30061">¿Qué pasa si quiero cambiar mi producto?</h2></p>
    	<br>
    	<p>Si requieres el cambio de producto, puedes hacerlo de dos maneras:</p>
    	<br>
    	<p>Llámanos al +945013722 y coordina el retiro del producto que quieres cambiar o devolver.</p>
    	<br>
    	<p>Tendrás que costear los valores de transporte.</p>
    	<br>
    	<p>No olvides que los productos deben ser devueltos sin uso, en su caja original y presentar la boleta o guía de despacho.</p>

    	</div>
				
            </div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">© 2016 Pick&amp;Shine. Todos los derechos reservados</p>
					<p class="pull-right">Diseñado por <span><a target="_blank" href="http://www.teamussolutions.com">TeamusSolutions</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
  
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    
    
 
</body>
</html>