<!DOCTYPE html>
{% load staticfiles %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>e-puzzle</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/home/380_ico.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head><!--/head-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83184181-1', 'auto');
  ga('send', 'pageview');

</script>

<body>
	<header id="header"><!--header-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="logo" style="text-align: center;">
							<a href="/"><img src="{% static 'images/home/380.png' %}" alt="" style="    position: absolute; top: -15px;"/> <span style="color: #FE980F; font-size: 50px;padding-left: 120px;">E</span> <span style="color: #666; font-size: 50px;">-PUZZLE</span> </a>
				</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categoria</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							{%for i in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/home/{{i.pk}}">{{i.name}}</a></h4>
								</div>
							</div>
							{%endfor%}
							
						</div><!--/category-products-->
					
						<!--price-range-->
						<!--<div class="price-range">
							<h2>Rango de precio</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div>--><!--/price-range-->
						
						
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{static_admin}}/static/images/home/{{producto.filename}}" alt="" id="img"/>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a ><img src="{{static_admin}}/static/images/home/{{producto.filename}}" class="filename" alt="" style="width: 84px; cursor:pointer"></a>
										  {%if producto.photo1 %}
										  <a><img src="{{static_admin}}/static/images/home/{{producto.filename1}}" class="filename" alt="" style="width: 84px; cursor:pointer"></a>
										  {%endif%}
										  {%if producto.photo2 %}
										  <a><img src="{{static_admin}}/static/images/home/{{producto.filename2}}" class="filename" alt="" style="width: 84px; cursor:pointer"></a>
										  {%endif%}
										  <!--<a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>-->
										</div>
										{%if producto.photo3 %}
										<div class="item">
										  <a><img src="{{static_admin}}/static/images/home/{{producto.filename3}}" class="filename" alt="" style="width: 84px; cursor:pointer"></a>
										</div>
										{%endif%}
										
									</div>
                                                           
						
                                  
        
                                  

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--<img src="images/product-details/new.jpg" class="newarrival" alt="" />-->
								<div class="well">
								<h2>{{producto.name}}</h2>
								<p>ID: {{producto.pk}}</p>
								
								<!--<img src="images/product-details/rating.png" alt="" />-->
								<form action="" method="post" id="send" class="searchform">{% csrf_token %} 
								<span>
									<span>Pesos: $ {{producto.price|floatformat:2|intcomma}}</span>
									<label>Cantidad:</label>
									<input type="text" name="quality" value="1" />
									
								</span>
								
								<input type="text" style="display:none" name="producto" value="{{producto.pk}}"  />
								<input type="text" style="display:none"  name="price" value=" {{producto.price}}"  />
								
								<div class="second" style="display:none">
								<input type="email" placeholder="E-mail" name="mail" />
								<button type="submit" class="btn btn-default cart" style="margin-bottom:0px"><i class="fa fa-arrow-circle-o-right"></i>&nbsp; Siguiente</button>
                               </div>
                            
							    </form>
							
								<button type="button" class="btn btn-fefault cart" id="comprar">
										<i class="fa fa-shopping-cart"></i>
										Comprar
									</button>
									
								</div>
								<p><b>Tipo de entrega:</b> Tiempo de desapacho 3 días a partir del momento de efectuado el pago. Actualmente sólo RM</p>
								<p><b>Entrega o envío:</b> Puedes retirar tu producto en Padre Alonso de Ovalle 840 o puede ser enviado a traves de chilexpress consultar precios de despacho aqui: <a href="http://www.chilexpress.cl/cotizador-envios-de-encomiendas-tarifas">Ver</a></p>
								<p><b>Pago:</b> <img class="pd-img" src="{% static 'images/logoPayPal_51x14.png' %}" alt="PayPal" border="0"> <img class="pd-img" src="{% static 'images/icono-transferencia.png' %}" alt="PayPal" border="0"> </p>
								<!--<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>-->
								<a href="/cambio" target="_blank"> Políticas de cambio </a>
								<br>
								* Si presenta algun problema con su compra por favor contactanos al (Chile)+56945013722
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Detalles</a></li>
								<!--<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>-->
								<li class="active"><a href="#reviews" data-toggle="tab">Comentarios</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-12">
								<p>{% autoescape off %} {{producto.description_short}} {% endautoescape %} </p>
								<p>{% autoescape off %} {{producto.description}} {% endautoescape %}</p>
								<p>{% autoescape off %} {{producto.description_adicional}} {% endautoescape %}</p>
								</div>
							</div>
							
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<div class="fb-comments" data-href="http://teamussolutions.com/" data-numposts="5"></div>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
			
					
				</div>
			</div>
		<div class="row">
				    					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Productos recomendados</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
								{%for i in most_popular %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{static_admin}}/static/images/home/{{i.producto.filename}}" alt="" style="width: 255px;" />
													<h2>{{i.producto.price|floatformat:2|intcomma}}</h2>
													<p>{{i.producto.name}}</p>
													<a href="/comprar/{{i.producto.pk}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
												</div>
												
											</div>
										</div>
									</div>
								{%endfor%}
								</div>
							</div>
							
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
				</div>
		
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">© 2016 Pick&amp;Shine. Todos los derechos reservados</p>
					<p class="pull-right">Diseñado por <span><a target="_blank" href="http://www.teamussolutions.com">TeamusSolutions</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
  
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    
    
    
    <script>
     $(function () {
            $( "#comprar" ).click(function() {
              $('.second').css('display', 'block')
              $('#comprar').css('display', 'none')
            });
            $( ".filename" ).click(function() {
                $('#img').attr('src', $(this).attr('src'))
            });
        });
        
    
    
        </script>
</body>
</html>